__pycache__/
*.pyc
.venv/
venv/

data/*
!data/.gitkeep
project_data/*
!project_data/.gitkeep
prompts/*
!prompts/.gitkeep
reports/*
!reports/.gitkeep

.env
gcp-creds.json
config.yaml

dist/
build/
*.egg-info

.vscode/
.idea/
.DS_Store
Thumbs.db